<ion-content [fullscreen]="true">
  <ion-card>
    <img src="assets/car/Avante.png" />
    <ion-card-header>
      <ion-card-title>배상준 환영합니다.</ion-card-title>
    </ion-card-header>
    <ion-card-content>
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-item>
      <ion-label>차종 : 아반떼 AD</ion-label> 
    </ion-item>
    <ion-item>
      <ion-label>포인트 : 0</ion-label> 
    </ion-item>
  </ion-list>
  <ul class="members">
    <li *ngFor="let member of jarvisMember; let i = index"> 
      {{member.jarvis_id}} 
    </li>
  </ul> 
  <ng-template #noData>No Data Available</ng-template>




</ion-content>

